.carrossel__container {
  margin: 2em auto;

}

.carrossel__titulo {
  color: var(--cor-principal);
  background-color: var(--cor-secundaria);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}

.swiper {
  width: 90%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: auto; /* Mantém a proporção da imagem */
  max-height: 400px;
  object-fit: cover; /* Ajusta a imagem para preencher o contêiner */
}

.swiper-pagination {
  position: initial;
  margin: 1em 0;
}

.card {
  background: var(--cor-secundaria);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

.card__descricao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.card__botoes {
  display: flex;
  justify-content: space-between;
  position: relative;
}


.botoes__item img { 
  cursor: pointer;
  transition: transform 0.3s;
}

.botoes {
  display: flex;
}

.descricao__titulo {
  color: var(--cor-branco);
  font-weight: 700;
}

.descricao__titulo-produto {
  color: var(--cor-laranja);
  font-size: 18px;
  font-weight: 700;
  margin: 0.5em 0;
}

.descricao__imagem {
  width: 300px;
}

.descricao__texto {
  font-size: 14px;
}

.botoes__ancora {
  background-color: var(--cor-laranja);
  padding: 1em 2.2em;
  color: var(--cor-branco);
  font-weight: 700;
  text-decoration: none;
}

.botoes__item {
  list-style-type: none;
  margin: 0 0.5em;
}

@media screen and (min-width: 1024px) {
  .carrossel__titulo {
      font-size: 26px;
  }

  .swiper {
      width: 75%;
  }

  .swiper-pagination {
      margin: 1em 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
      display: block;
      top: 50%;
  }

  .card {
      width: 40%;
      margin: 2em auto;
  }
}

@media screen and (min-width: 1728px) {
  .carrossel__container {
      display: flex;
      margin: 3em 20vw 3em 20vw;
      align-items: center;
  }

  .swiper-pagination {
      margin: 1em 0;
  }

  .swiper {
      width: 50%;
  }
  
  .descricao__titulo {
      font-size: 32px;
  }

  .descricao__texto {
      font-size: 16px;
  }

  .descricao {
      margin-right: 2em;
  }

  .card {
      width: 50%;
      margin-left: 3em;
  }
}